<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/pure/pure.css">
        <link rel="stylesheet" href="static/pure/grids.css">
        <link rel="stylesheet" href="static/side-menu.css">


            <title>Penguin's home</title>
    </head>
    <body>
    {%if g.user.is_authenticated () %}
    <div id="layout">
        <a href="#menu" id="menuLink" class="menu-link">
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="{{ url_for ( 'index' ) }}">Обзор</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="{{ url_for ( 'devices' ) }}" class="pure-menu-link">Устройства</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for ( 'sensors' ) }}" class="pure-menu-link">Датчики</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Расписания</a></li>
                    <li class="pure-menu-item menu-item-divided"><a href="{{ url_for ( 'logout' ) }}" class="pure-menu-link">Выйти</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div id="main">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="static/ui.js"></script>
    </body>
</html>
